@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('../fonts/Gilroy-Semibold.eot');
    src: url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.svg#Gilroy-Semibold') format('svg'),
        url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 500;
    color: #333333;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

.background-image {
    background-image: url(../images/Navigation/background.jpg);
    background-position: center;
    background-size: cover;
}

.header {
    padding: 30px 0px 30px;
    color: #FFFFFF;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav,
.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.menu-item {
    display: flex;
    position: relative;

}

.menu-img {
    display: flex;
    align-items: center;
}

.menu-img-item {
    padding-left: 30px;
}

.menu-img-item:first-child {
    padding-left: 0px;
}

.main {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.headline {
    display: block;
    width: 600px;
}

.title {
    font-family: 'Gilroy-Medium';
    font-weight: 700;
    font-size: 48px;
    line-height: 67.2px;
    color: #FFFFFF;
}

.headline-block {
    display: flex;
    margin-top: 60px;
    width: 240px;
}

.headline-block p {
    padding: 15px 0px 15px 30px;
    text-align: left;
    color: #FFFFFF;
}

.services {
    display: block;
    padding-top: 210px;
    color: #FFFFFF;
}

.services-list {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.services-item {
    display: flex;
    background-color: #8D86C9;
    width: 315px;
    height: 150px;
    align-items: center;
    justify-content: space-between;
}

.services-box {
    margin-left: 35px;
}

.services-item h2 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
}

.services-item p {
    margin: 17px 0 0 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
}

.services-link {
    margin-right: 35px;
}

.imgrow {
    padding-top: 150px;
}

.imgrow-list {
    display: flex;
    gap: 24px;
}

.imgrow-item {
    position: relative;
    text-align: center;
}

.imgrow-item h3 {
    font-size: 27px;
    font-weight: 700;
    line-height: 38px;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 40px;
}

.imgrow-img {
    width: 90%;
    padding: 25px 20px;
    border: 1px #F7ECE1 solid;
}

.sportclub {
    margin-top: 150px;
    display: flex;
    align-items: center;
    width: 1076px;
    height: 654px;

}

.sportclub-box {
    background-color: #F7ECE1;
    width: 636px;
    height: 700px;
    align-items: center;
}

.box-container {
    margin: 70px 60px 84px 145px;
}

.sportclub-box h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 50.4px;
    color: #333333;
}

.sportclub-box p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    color: #333333;
}

.sport-item {
    position: relative;
    padding: 0 0 0 23px;
}


.sport-item::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #8D86C9;
    position: absolute;
    left: 0;
    top: 5px;
}

.sportclub-box h4 {
    font-weight: 500;
    font-size: 21px;
    line-height: 29.4px;
    color: #333333;
}

.sportimg {
    position: relative;
    left: 60px;
}

.treners {
    margin-top: 150px;
}

.treners-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 50.4px;
    color: #333333;
}

.treners-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.treners-btn {
    display: flex;
    gap: 15px;
}

.arrow-button {
    display: inline-flex;
    width: 45px;
    height: 45px;
    background-color: #8D86C9;
    align-items: center;
    border: none;
}

.arrow-button:hover {
    opacity: .8;
    cursor: pointer;
}

.treners-list {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.trener-item {
    width: 196px;
    height: auto;
}

.trener-item h4 {
    font-weight: 600;
    font-size: 21px;
    line-height: 29.4px;
    color: #333333;
}

.trener-item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    color: #333333;

}

.flexbox {
    display: flex;
    margin-top: 150px;
    gap: 134px;

}

.pricelist {
    width: 526px;
}


.pricelist-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 50.4px;
    color: #333333;
    margin: 0;
}

.pricelist-list {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.pricelist-item {
    margin-bottom: 30px;
}

.pricelist-item:last-child {
    margin-bottom: 0px;
}

.pricelist-link {
    display: flex;
    align-items: center;
    background-color: #8D86C9;
    justify-content: space-between;
    padding: 15px 30px;
}

.pricelist-item h4 {
    font-weight: 600;
    font-style: normal;
    font-size: 21px;
    line-height: 29.4px;
    color: #FFFFFF;
    margin: 0;
}

.serviceimg-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serviceimg-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 50.4px;
    color: #333333;
    margin: 0;
}

.serviceimg-btn {
    display: flex;
    gap: 15px;
}

.serviceimg-box {
    position: relative;
    margin-top: 75px;
}

.serviceimg-box h3 {
    font-weight: 700;
    font-size: 27px;
    line-height: 37.8px;
    color: #FFFFFF;
    position: absolute;
    bottom: 40px;
    left: 67px;
}

.serviceimg-image {
    padding: 30px 25px;
    border: 1px solid #F7ECE1;
}

footer {
    margin-top: 150px;
    background-color: #F7ECE1;
    padding: 38px 0;
}

.footer-copyright {
    font-weight: 500;
    font-size: 14px;
    line-height: 19.6px;
    color: #333333;
    opacity: 0.3;
}

.menu-btn {
    display: none;
}

@media (max-width: 1440px) {
    .container {
        padding: 0 100px;
        width: auto;
    }
}

@media (max-width: 1330px) {
    .flexbox {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1250px) {
    .swiper .swiper-wrapper .swiper-slide {
        all: inherit;
    }
    .treners-btn {
        display: none;
    }

} 

@media (max-width: 1250px) {
    .menu-btn {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 50;
    }

    .logo,
    .youtube-btn,
    .vk-btn {
        position: relative;
        z-index: 50;
    }


    .btn-line {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
        height: 2px;
        transition: .3s ease;
    }

    .btn-line:nth-child(1) {
        top: 0;
    }

    .btn-line:nth-child(2) {
        top: 20px;
    }

    .btn-line:nth-child(3) {
        top: 20px;
    }

    .btn-line:nth-child(4) {
        top: 40px;
    }

    .menu-open .btn-line:nth-child(1) {
        transform: scaleX(0);
    }

    .menu-open .btn-line:nth-child(2) {
        transform: rotate(45deg);
    }

    .menu-open .btn-line:nth-child(3) {
        transform: rotate(-45deg);
    }

    .menu-open .btn-line:nth-child(4) {
        transform: scaleX(0);
    }

    .menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #756ead;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateY(-100%);
        transition: .3s ease;
    }

    .menu-open .menu {
        transform: translateY(0);
    }
 

    .menu-link {
        font-size: 30px;
    }

    .services-list {
        flex-wrap: wrap;
    }

    .services-item {
        width: 345px;
    }

    .imgrow-list {
        align-items: center;
        flex-direction: column;
    }

    .sportimg {
        display: none;
    }

    .sportclub {
        justify-content: center;
        width: auto;
    }

    .treners-list {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

}

@media (max-width: 1050px) {
    .services-list {
        flex-direction: column;
    }

    .headline {
        width: auto;
    }
}

@media (max-width: 860px) {
    .sportclub-box {
        width: auto;
        height: auto;
        margin-top: 70px;
    }

    .box-container {
        margin: 70px 60px 84px 75px;
    }

    .serviceimg-box {
        width: 100%;
    }

    .serviceimg-image {
        width: 100%;
    }

}

@media (max-width: 610px) {
    .treners-container {
        margin-top: 200px;
    }

    .trener-item {
        width: 100%;
    }

    .serviceimg-box h3 {
        font-size: 20px;
    }



}

@media (max-width: 560px) {

    .title {
        font-size: 35px;
    }

    .header {
        padding: 30px 20px;
    }

    .services-item {
        width: 100%;
    }

    .container {
        padding: 0px;
    }

    .headline {
        margin: 0 60px;
    }

    .imgrow-item {
        width: 100%;
    }

    .imgrow-img {
        width: 100%;
        padding: 20px 0;
        border: none;
        border-top: 1px #F7ECE1 solid;
        border-bottom: 1px #F7ECE1 solid;
    }

    .treners-container {
        margin-top: 0;
    }

    .treners {
        padding: 0 30px;
    }

    .treners-title {
        font-size: 30px;
    }

    .pricelist {
        width: 100%;
    }

    .serviceimg-image {
        padding: 30px 0;
        border: none;
        border-top: 1px solid #F7ECE1;
        border-bottom: 1px solid #F7ECE1;
    }

    .serviceimg-container {
        padding: 0 30px;
    }

    .serviceimg-box h3 {
        bottom: 27px;
        left: 21px;
    }

    .pricelist-title {
        margin-left: 30px;
    }

    .footer-nav {
        flex-direction: column;
        justify-content: center;
    }

}

@media (max-width: 400px) {
    .sportclub-box {
        margin: 70px 0 100px 0;
    }

    .title {
        font-size: 40px;
    }

    .imgrow-item:last-child {
        margin-bottom: 50px;
    }
}